services:
    -
        class: Yajra\Oci8\PHPStan\DatabaseManagerExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Yajra\Oci8\PHPStan\DatabaseFacadeExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
