name: PHP Linting

on:
  pull_request:
  push:
    branches:
      - master
      - '*.x'

jobs:
  pint:
    name: Pint
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: "laravel-pint"
        uses: aglipanci/laravel-pint-action@v2
        with:
          preset: laravel
          verboseMode: true

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
        with:
          commit_message: "fix: pint :robot:"
